@model Repartidor2.Models.TblTarjeta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblTarjeta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVenceTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVenceTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProveedorTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProveedorTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CvvTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CvvTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivoTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivoTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
