@model Repartidor2.Models.TblPedidoDetalle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblPedidoDetalle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPedidoDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPedidoDetalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPedidoDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioPedidoDetalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPedidoDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPedidoDetalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivoPedidoDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivoPedidoDetalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPedidoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPedidoNavigation.DireccionPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.NombreProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPedidoDetalle">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
